<!-- news_archive_head -->
<h2><span><i class="fa fa-newspaper-o"></i>&nbsp; $news</span></h2>
<div class="card">
    <div class="card-body">
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>$lang_date</th>
            <th class="hidden-xs">Poster</th>
            <th class="hidden-xs">$lang_rubric</th>
            <th>$lang_headline</th>
        </tr>
        </thead>
        <tbody>
<!-- END -->

<!-- news_archive_content -->
<tr>
    <td>$date</td>
    <td class="hidden-xs">$poster</td>
    <td class="hidden-xs">$rubrikname</td>
    <td>$headlines</td>
</tr>
<!-- END -->

<!-- news_archive_foot -->
</tbody></table></div>
</div></div><br>
<!-- END -->