<!-- sc_headlines_head -->
<div class="card">

            <div class="card-body"><h2 class="text-center">$title</h2>
<div class="row">
<!-- END -->
<!-- sc_headlines_content -->
<div class="box col-md-6">
            <div class="property-container" style="margin-left:-15px;">
              <div class="property-image image">
                <div class="hover12 hover14"><figure>$rubricpic</figure></div>
              </div>
				<div class="slogan" style="margin-top:-12px;">$line</div>
            </div>
</div>
<!-- END -->

<!-- sc_headlines_foot -->
</div>
</div>
</div><br>
<!-- END -->